In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [19]:
train_df=pd.read_csv('/Users/zhilinyang/Desktop/x_train.csv',header=None)
train_df=train_df.iloc[1:]
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
1,114.942606,1.160497e+08,100.0,0.0,87.771295,7.062768e+08,100.0,0.0,0.0,15678.674768,...,83.154810,34024.372603,22.670805,22.670805,100.0,0.0,100.0,0.0,3.770007e+10,4.102677e+10
2,115.510537,1.277200e+08,100.0,0.0,89.564746,9.375390e+08,100.0,0.0,1.0,23208.781052,...,58.433405,83546.033968,21.850899,21.850899,100.0,0.0,100.0,0.0,2.338417e+10,2.001466e+11
3,115.286165,1.238235e+08,100.0,0.0,87.391303,6.447029e+08,100.0,0.0,0.0,14501.626394,...,96.000000,9135.285335,25.941161,25.941161,100.0,0.0,100.0,0.0,3.423121e+10,5.498954e+10
4,115.770483,1.283710e+08,100.0,0.0,82.606233,2.045374e+08,100.0,0.0,0.0,23913.161513,...,76.738954,47280.714270,20.029493,20.029493,100.0,0.0,100.0,0.0,2.297195e+10,2.458855e+11
5,115.517583,1.238573e+08,100.0,0.0,88.692532,8.186584e+08,100.0,0.0,0.0,20288.528561,...,77.000000,46798.838228,21.196281,21.196281,100.0,0.0,100.0,0.0,1.794865e+10,8.089003e+10

In [28]:
len(train_df)

15031

In [27]:
df=pd.read_csv("/Users/zhilinyang/Desktop/STA_combine.csv",header=None)
colname = df.iloc[0]
df = df.iloc[1:]
df.columns = colname
df.head()

/Users/zhilinyang/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,serial_number,smart_1_normalized,smart_1_raw,smart_5_normalized,smart_5_raw,smart_7_normalized,smart_7_raw,smart_184_normalized,smart_184_raw,...,smart_193_raw,smart_194_normalized,smart_194_raw,smart_197_normalized,smart_197_raw,smart_198_normalized,smart_198_raw,smart_241_raw,smart_242_raw,failure
1,2017-01-01,Z305B2QN,113,58173272,100,0,85,388359773,100,0,...,33904,24,24,100,0,100,0,30780539952,8290868549,0
2,2017-01-01,Z302A0YH,114,75626904,100,0,88,785458463,100,0,...,39656,19,19,100,0,100,0,21648124248,162013891630,0
3,2017-01-01,Z305BT0W,112,48893128,100,0,84,316494047,100,0,...,9073,30,30,100,0,100,0,26168289344,15892146696,0
4,2017-01-01,Z302A0YE,118,192617016,100,0,75,41700086,100,0,...,14150,21,21,100,0,100,0,21261063502,236386123294,0
5,2017-01-01,Z302PGH8,114,83211536,100,0,87,640624192,100,0,...,46664,25,25,100,0,100,0,16191633244,71986710022,0

In [29]:
sample_list=df['serial_number'].unique()

array(['Z305B2QN', 'Z302A0YH', 'Z305BT0W', ..., 'W300Y559', 'Z303L8RK',
       'Z306F8GD'], dtype=object)

In [37]:
fail_list=df[df['failure'].astype('int64')==1].iloc[:,1]
len(fail_list)

1072

In [44]:
state=(pd.Series(sample_list)).isin(fail_list)
state[state==False]=0
train_df['state']=state[:15031]
train_df.head(8)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,state
1,114.942606,1.160497e+08,100.0,0.0,87.771295,7.062768e+08,100.0,0.0,0.0,15678.674768,...,34024.372603,22.670805,22.670805,100.0,0.0,100.0,0.0,3.770007e+10,4.102677e+10,0.0
2,115.510537,1.277200e+08,100.0,0.0,89.564746,9.375390e+08,100.0,0.0,1.0,23208.781052,...,83546.033968,21.850899,21.850899,100.0,0.0,100.0,0.0,2.338417e+10,2.001466e+11,0.0
3,115.286165,1.238235e+08,100.0,0.0,87.391303,6.447029e+08,100.0,0.0,0.0,14501.626394,...,9135.285335,25.941161,25.941161,100.0,0.0,100.0,0.0,3.423121e+10,5.498954e+10,0.0
4,115.770483,1.283710e+08,100.0,0.0,82.606233,2.045374e+08,100.0,0.0,0.0,23913.161513,...,47280.714270,20.029493,20.029493,100.0,0.0,100.0,0.0,2.297195e+10,2.458855e+11,0.0
5,115.517583,1.238573e+08,100.0,0.0,88.692532,8.186584e+08,100.0,0.0,0.0,20288.528561,...,46798.838228,21.196281,21.196281,100.0,0.0,100.0,0.0,1.794865e+10,8.089003e+10,0.0
6,115.664912,1.238708e+08,100.0,0.0,80.368845,1.398738e+10,100.0,0.0,0.0,25931.140135,...,48230.193852,28.806888,28.806888,100.0,0.0,100.0,0.0,2.262331e+10,1.670755e+11,0.0
7,115.113511,1.217194e+08,100.0,0.0,89.892585,9.498638e+08,100.0,0.0,0.0,34322.745899,...,377433.240470,27.426190,27.426190,100.0,0.0,100.0,0.0,2.880968e+10,1.831190e+11,1.0
8,114.895245,1.226185e+08,100.0,0.0,81.452636,1.638733e+08,100.0,0.0,0.0,29813.217855,...,131814.336394,20.948977,20.948977,100.0,0.0,100.0,0.0,4.160370e+10,2.697875e+11,0.0

In [46]:
healthy_sample=train_df[train_df['state']==0]
print(len(healthy_sample))
fail_sample=train_df[train_df['state']==1]
print(len(fail_sample))

14550
480

In [49]:
healthy_train_x=healthy_sample.iloc[:,:24]
healthy_train_x.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
1,114.942606,1.160497e+08,100.0,0.0,87.771295,7.062768e+08,100.0,0.0,0.0,15678.674768,...,83.154810,34024.372603,22.670805,22.670805,100.0,0.0,100.0,0.0,3.770007e+10,4.102677e+10
2,115.510537,1.277200e+08,100.0,0.0,89.564746,9.375390e+08,100.0,0.0,1.0,23208.781052,...,58.433405,83546.033968,21.850899,21.850899,100.0,0.0,100.0,0.0,2.338417e+10,2.001466e+11
3,115.286165,1.238235e+08,100.0,0.0,87.391303,6.447029e+08,100.0,0.0,0.0,14501.626394,...,96.000000,9135.285335,25.941161,25.941161,100.0,0.0,100.0,0.0,3.423121e+10,5.498954e+10
4,115.770483,1.283710e+08,100.0,0.0,82.606233,2.045374e+08,100.0,0.0,0.0,23913.161513,...,76.738954,47280.714270,20.029493,20.029493,100.0,0.0,100.0,0.0,2.297195e+10,2.458855e+11
5,115.517583,1.238573e+08,100.0,0.0,88.692532,8.186584e+08,100.0,0.0,0.0,20288.528561,...,77.000000,46798.838228,21.196281,21.196281,100.0,0.0,100.0,0.0,1.794865e+10,8.089003e+10

In [50]:
k_means=KMeans(n_clusters=100,n_init=10,max_iter=300,tol=1e-04,random_state=0)
dist=k_means.fit_transform(healthy_train_x)
x_dist=pd.DataFrame(dist)

In [51]:
x_dist.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,5.246272e+10,2.706523e+14,1.896975e+14,7.828246e+13,1.535878e+13,1.959194e+11,8.577243e+09,1.644175e+12,1.289978e+11,2.795606e+11,...,1.826742e+10,6.091994e+10,1.572560e+11,7.438315e+09,1.334474e+11,3.220591e+10,1.358398e+10,1.712936e+11,1.394203e+11,2.156195e+11
1,1.093277e+11,2.706521e+14,1.896972e+14,7.828223e+13,1.535907e+13,3.665804e+10,1.533453e+11,1.639090e+12,3.103673e+10,1.205369e+11,...,1.457725e+11,1.003755e+11,2.636086e+09,1.540369e+11,2.644142e+10,1.436781e+11,1.510514e+11,1.172117e+10,3.978544e+10,5.647192e+10
2,3.813231e+10,2.706524e+14,1.896975e+14,7.828251e+13,1.535882e+13,1.818052e+11,1.094486e+10,1.643180e+12,1.148784e+11,2.655282e+11,...,1.341724e+10,4.653793e+10,1.430673e+11,8.772645e+09,1.192096e+11,2.701877e+10,1.337150e+10,1.571231e+11,1.257005e+11,2.015348e+11
3,1.550561e+11,2.706528e+14,1.896979e+14,7.828302e+13,1.536026e+13,1.001970e+10,1.988458e+11,1.641289e+12,7.640979e+10,7.495505e+10,...,1.910812e+11,1.461054e+11,4.819171e+10,1.997333e+11,7.217986e+10,1.887940e+11,1.964095e+11,3.411175e+10,7.679004e+10,1.168833e+10
4,1.048028e+10,2.706522e+14,1.896974e+14,7.828232e+13,1.535865e+13,1.560053e+11,4.112790e+10,1.641410e+12,8.967938e+10,2.399127e+11,...,3.844062e+10,1.925164e+10,1.170013e+11,3.746538e+10,9.297944e+10,3.920148e+10,4.170265e+10,1.310850e+11,1.011504e+11,1.758260e+11

In [ ]:
down_sample=np.array([])
for center in range(0,100):
    arrange=x_dist.sort_values(by=center, axis=0, ascending=True, inplace=False)
    down_sample=np.append(down_sample,arrange[center].index.values[:10])
down_sample

In [60]:
train_x_A=healthy_train_x.iloc[down_sample]
train_x_A=train_x_A.append(fail_sample.iloc[:,:24])
len(train_x_A)

1480

1000 healthy sample with 480 failed sample

In [65]:
train_x_A.to_csv(path_or_buf='/Users/zhilinyang/Desktop/train_x_A.csv',index=False)

done