In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
import time
from functools import wraps
 
def fn_timer(function):
    @wraps(function)
    def function_timer(*args, **kwargs):
        t0 = time.time()
        result = function(*args, **kwargs)
        t1 = time.time()
        print ("Total time running : %s seconds" %
                (str(t1-t0))
                )
        return result
    return function_timer

By comparison using above function, get_group method is quicker than str.match

In [28]:
featuresST=['smart_1_normalized',
 'smart_1_raw',
 'smart_3_normalized',
 'smart_4_raw',
 'smart_5_raw',
 'smart_7_normalized',
 'smart_7_raw',
 'smart_9_normalized',
 'smart_9_raw',
 'smart_12_raw',
 'smart_183_normalized',
 'smart_183_raw',
 'smart_187_normalized',
 'smart_187_raw',
 'smart_190_normalized',
 'smart_190_raw',
 'smart_193_normalized',
 'smart_193_raw',
 'smart_194_normalized',
 'smart_194_raw',
 'smart_197_raw',
 'smart_198_raw',
 'smart_240_raw',
 'smart_241_raw',
 'smart_242_raw']

In [2]:
df=pd.read_csv("/Users/zhilinyang/Desktop/STA_combine.csv",header=None)
colname = df.iloc[0]
df = df.iloc[1:]
df.columns = colname
df.head()

/Users/zhilinyang/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,serial_number,failure,smart_1_normalized,smart_1_raw,smart_3_normalized,smart_3_raw,smart_4_normalized,smart_4_raw,smart_5_normalized,...,smart_198_normalized,smart_198_raw,smart_199_normalized,smart_199_raw,smart_240_normalized,smart_240_raw,smart_241_normalized,smart_241_raw,smart_242_normalized,smart_242_raw
1,2017-01-01,Z305B2QN,0,113,58173272,91,0,100,8,100,...,100,0,200,0,100,8947,100,30780539952,100,8290868549
2,2017-01-01,Z302A0YH,0,114,75626904,92,0,100,19,100,...,100,0,200,0,100,16788,100,21648124248,100,162013891630
3,2017-01-01,Z305BT0W,0,112,48893128,93,0,100,7,100,...,100,0,200,0,100,7771,100,26168289344,100,15892146696
4,2017-01-01,Z302A0YE,0,118,192617016,92,0,100,12,100,...,100,0,200,564,100,17308,100,21261063502,100,236386123294
5,2017-01-01,Z302PGH8,0,114,83211536,92,0,100,20,100,...,100,0,200,0,100,13560,100,16191633244,100,71986710022

In [3]:
x_train=pd.DataFrame()
sample_list=df['serial_number'].unique()
len(sample_list)

35189

In [31]:
sample_list[0]

'Z305Q0MX'

In [11]:
#Shuffle the sample list
sample_list=pd.Series(sample_list).sample(frac=1)
sample_list=list(sample_list)

In [26]:
import sys
summarize=pd.read_csv('/Users/zhilinyang/Desktop/summarize.csv')
row=summarize.iloc[:,0]
summarize=summarize.iloc[:,1:]
summarize.index=row
summarize.head()

,smart_1_normalized,smart_1_raw,smart_3_normalized,smart_3_raw,smart_4_normalized,smart_4_raw,smart_5_normalized,smart_5_raw,smart_7_normalized,smart_7_raw,...,smart_198_normalized,smart_198_raw,smart_199_normalized,smart_199_raw,smart_240_normalized,smart_240_raw,smart_241_normalized,smart_241_raw,smart_242_normalized,smart_242_raw
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
get_percent,0.306238,0.245747,0.146503,0.0,0.0,0.330813,0.061437,0.205104,0.417769,0.619093,...,0.097353,0.447070,0.0,0.003781,0.0,0.583176,0.0,0.480151,0.0,0.651229
get_median,24.000000,49.000000,101.000000,NaN,NaN,86.000000,4.000000,3.500000,93.500000,74.000000,...,2.000000,6.000000,NaN,39.000000,NaN,86.000000,NaN,103.000000,NaN,67.000000
get_mean,68.298165,85.267532,112.980769,NaN,NaN,99.940419,15.611940,16.666667,105.605201,84.524762,...,3.669903,22.236948,NaN,95.428571,NaN,88.061964,NaN,104.031640,NaN,79.905804

In [ ]:
num=0
x_train=pd.DataFrame()
for sample_name in sample_list[0:15001:]:
    sample=groups.get_group(sample_name)
    train_sample=[]
    for feature in featuresST:
        i=summarize.loc['get_median',feature]
        arr=(sample[feature].ewm(span=i).mean()).values
        train_sample.append(arr[-1])
    train_vals=(pd.DataFrame(train_sample)).T
    x_train=x_train.append(train_vals,ignore_index=True)
    num=num+1
    sys.stdout.write(str(num) + '\n')

In [38]:
x_train.index=sample_list[0:15001:]
x_train.columns=featuresST
x_train.head()

,smart_1_normalized,smart_1_raw,smart_3_normalized,smart_4_raw,smart_5_raw,smart_7_normalized,smart_7_raw,smart_9_normalized,smart_9_raw,smart_12_raw,...,smart_190_raw,smart_193_normalized,smart_193_raw,smart_194_normalized,smart_194_raw,smart_197_raw,smart_198_raw,smart_240_raw,smart_241_raw,smart_242_raw
Z305Q0MX,115.906013,1.329576e+08,91.167076,8.889620,0.0,87.310915,6.504494e+08,83.181576,15178.591383,8.889620,...,25.711848,72.000000,56771.369711,25.711848,25.711848,0.0,0.0,14825.804708,3.108163e+10,5.773111e+10
Z305D6MG,114.579772,1.211792e+08,94.009118,5.995798,0.0,87.839517,7.355420e+08,82.823755,15563.250315,5.995798,...,30.002559,96.000000,8840.509130,30.002559,30.002559,0.0,0.0,15364.408540,3.670837e+10,6.952518e+10
Z304GJ8Z,115.105291,1.178986e+08,92.000000,9.000000,0.0,88.171075,7.734591e+08,80.170393,17819.980493,9.000000,...,20.858534,93.000000,14275.879106,20.858534,20.858534,0.0,0.0,17686.274924,3.912115e+10,4.720127e+10
Z300WJWN,115.815340,1.276666e+08,92.000000,17.495410,0.0,89.962731,5.272009e+09,61.186567,34442.166705,17.495410,...,20.803454,47.068017,106882.154306,20.803454,20.803454,0.0,0.0,34073.916437,2.875273e+10,1.491476e+11
Z3029B3B,114.793688,1.187385e+08,95.000802,4.999709,0.0,81.161219,5.015784e+08,72.144316,24855.494849,4.999709,...,20.974355,97.000078,7883.322387,20.974355,20.974355,0.0,0.0,24818.663390,2.402652e+10,2.027083e+11

In [51]:
len(x_train)
#total number of samples

15001

In [52]:
x_train.to_csv(path_or_buf='/Users/zhilinyang/Desktop/x_train.csv',index=True)
print('done')

done

In [40]:
df.index=df['serial_number']
df.head()

,date,serial_number,failure,smart_1_normalized,smart_1_raw,smart_3_normalized,smart_3_raw,smart_4_normalized,smart_4_raw,smart_5_normalized,...,smart_198_normalized,smart_198_raw,smart_199_normalized,smart_199_raw,smart_240_normalized,smart_240_raw,smart_241_normalized,smart_241_raw,smart_242_normalized,smart_242_raw
serial_number,,,,,,,,,,,,,,,,,,,,,
Z305B2QN,2017-01-01,Z305B2QN,0,113,58173272,91,0,100,8,100,...,100,0,200,0,100,8947,100,30780539952,100,8290868549
Z302A0YH,2017-01-01,Z302A0YH,0,114,75626904,92,0,100,19,100,...,100,0,200,0,100,16788,100,21648124248,100,162013891630
Z305BT0W,2017-01-01,Z305BT0W,0,112,48893128,93,0,100,7,100,...,100,0,200,0,100,7771,100,26168289344,100,15892146696
Z302A0YE,2017-01-01,Z302A0YE,0,118,192617016,92,0,100,12,100,...,100,0,200,564,100,17308,100,21261063502,100,236386123294
Z302PGH8,2017-01-01,Z302PGH8,0,114,83211536,92,0,100,20,100,...,100,0,200,0,100,13560,100,16191633244,100,71986710022

In [41]:
fail_samples_df=df[df.failure.astype('int64')==1] 
fail_name_list=fail_samples_df.index
#Don't forget type casting!

Index(['Z3015LED', 'Z3004D6W', 'Z300GPL4', 'Z300CNVT', 'S300X9C1', 'Z300NKVG',
       'S300XR7S', 'Z3041CZ5', 'Z300X5E2', 'S300Z4JV',
       ...
       'S301GNPF', 'W300H5H6', 'Z30250HT', 'S300Z0TD', 'Z300V5RQ', 'Z305BAG3',
       'Z3023TWW', 'Z305BHVV', 'Z300GZ1B', 'Z300GZCV'],
      dtype='object', name='serial_number', length=1061)

In [45]:
y_train=pd.Series(x_train.index.isin(fail_name_list))
y_train[y_train]=1
y_train

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        1.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
14971    0.0
14972    0.0
14973    0.0
14974    0.0
14975    1.0
14976    0.0
14977    0.0
14978    0.0
14979    0.0
14980    0.0
14981    0.0
14982    0.0
14983    0.0
14984    0.0
14985    0.0
14986    0.0
14987    0.0
14988    0.0
14989    0.0
14990    0.0
14991    0.0
14992    0.0
14993    0.0
14994    0.0
14995    0.0
14996    0.0
14997    0.0
14998    0.0
14999    0.0
15000    1.0
Length: 15001, dtype: float64

In [53]:
y_train.sum() #total number of failed samples

458.0

In [50]:
y_train.to_csv('/Users/zhilinyang/Desktop/y_train.csv')